@font-face {
    font-family: 'PP Mori';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/dist/fonts/PPMori-SemiBold.woff2") format("woff2"),
         url("/dist/fonts/PPMori-SemiBold.woff") format("woff");
}

@font-face {
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("/dist/fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
         url("/dist/fonts/SpaceGrotesk-Medium.woff") format("woff");
}

@font-face {
    font-family: 'PP Mori';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/dist/fonts/PPMori-Regular.woff2") format("woff2"),
         url("/dist/fonts/PPMori-Regular.woff") format("woff");
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'PP Mori', 'Arial', sans-serif;
    background: #000; 
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

h1, h2, p {
    margin: 0;
}

.container {
    max-width: 1310px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.heading,
.adaptive-heading {
    font-family: 'Space Grotesk';
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;
    color: #fff;
    letter-spacing: 0.01em;
    margin-bottom: 48px;

}

.description-color {
    font-family: 'PP Mori';
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #877CE2;
    margin-bottom: 16px;

}

.description-white {
    font-family: 'PP Mori';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 40px;
}

.nav-link {
    font-family: 'PP Mori';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #b9b4b4; 
    cursor: pointer;
}

.nav-link:hover {
    color: #fff;
}

/* Header */

.header {
    height: 68px;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
   
}

.header__burger-menu {
    display: none;
}

.header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__nav-item:not(:last-child) {
    margin-right: 20px;
}


.header__link {
    margin-right: 8px;
}

.btn-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #fff;
    background: #000;
    border: 2px solid #ffffff33;
    border-radius: 43px;
    cursor: pointer;
}

.header__link {
    padding: 10px 20px 8px 20px;
}

.header__button {
    padding: 6px 14px 3px 14px;
}

.header__btn-link-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background: url(/app/img/Ellipse-header.png) center center no-repeat;
}

/* для меню */
.menu-active {
    display: block;
}

/* Content */ 

.section-content__container {
    padding-top: 60px;
    padding-bottom: 35px;
}

.section-content__header {
    text-align: center;
    margin-bottom: 20px;
}

.section-content__description {
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 60px;
}

.section-content__animation {
    position: relative;
}

.section-content__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    
}

.section-content__prism-img {
    position: absolute;
    left: 0px;
    top: -80px;
    right: 0px;
    bottom: 0px;
} 

@-webkit-keyframes anim {
    0% {
        -webkit-transform: translateX(1500px);
        transform: translateX(1500px);
    }
    
    30% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    50% {
        -webkit-transform: scaleX(2);
        transform: scaleX(2);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
} 

@keyframes anim {
    0% {
        -webkit-transform: translateX(1500px);
        transform: translateX(1500px);
    }
    
    30% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    50% {
        -webkit-transform: scaleX(2);
        transform: scaleX(2);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

.icon-1 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
}

.icon-2 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-3 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
}

.icon-4 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
}

.icon-5 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-6 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-7 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-8 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-9 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-10 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-11 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.icon-12 {
    -webkit-animation: anim 3s ease;
    animation: anim 3s ease;
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    
}

@-webkit-keyframes prism {
    0% {
      opacity: 0;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

@keyframes prism {
    0% {
      opacity: 0;
      -webkit-transform: translateX(0px);
      transform: translateX(0px);
    }

    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

.section-content__prism-img {
    -webkit-animation: prism 3s linear;
    animation: prism 3s linear;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}  

/* Swap */

.section-swap {
    background: #101010;
}

.section-swap__container {
    padding-top: 100px;
    padding-bottom: 80px;
}

.section-swap__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.section-swap__wrapper-black {
    padding: 85px 60px;
    background: #000;
    left: calc(50% - 450px/2);
    top: calc(50% - 475px/2 + 0.5px);
}

.section-swap__swap {
    padding: 50px 38px;
    background: #101010;
}

.section-swap__title {
    font-family: 'Space Grotesk';
    font-size: 34px;
    font-weight: 700;
    line-height: 24px;
    color: #CCC8FD;
}

.section-swap__one-two {
    margin-bottom: 30px;
}

.section-swap__one {
    margin-top: 33px;
    margin-bottom: 5px;
}

.section-swap__one,
.section-swap__two {
    padding: 14px;
    background: #1C1D1F;
}

.section-swap__one-span,
.section-swap__two-span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.section-swap__span {
    font-family: 'PP Mori';
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    color: #CCC8FD;
}

.section-swap__input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    border: none;
    color: #CCC8FD;
    background: #1C1D1F;
}

.section-swap__input::-webkit-input-placeholder {
    font-family: 'Space Grotesk';
    font-size: 20px;
    line-height: 28px;
    color: #CCC8FD;
}

.section-swap__input::-moz-placeholder {
    font-family: 'Space Grotesk';
    font-size: 20px;
    line-height: 28px;
    color: #CCC8FD;
}

.section-swap__input:-ms-input-placeholder {
    font-family: 'Space Grotesk';
    font-size: 20px;
    line-height: 28px;
    color: #CCC8FD;
}

.section-swap__input::-ms-input-placeholder {
    font-family: 'Space Grotesk';
    font-size: 20px;
    line-height: 28px;
    color: #CCC8FD;
}

.section-swap__input::placeholder {
    font-family: 'Space Grotesk';
    font-size: 20px;
    line-height: 28px;
    color: #CCC8FD;
}

.result-input {
    display: inline-block;
    width: 265px;
}

.section-swap__select {
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 30px;
    font-family: 'PP Mori';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    border: none;
    border-radius: 50px;
}

.erg-select {
    background: url(/app/img/swap/ERG.svg) 7% 35% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#CCC8FD), to(#CCC8FD));
    background: url(/app/img/swap/ERG.svg) 7% 35% no-repeat, linear-gradient(#CCC8FD, #CCC8FD);
} 

.neta-select {
    background: url(/app/img/swap/Neta.svg) 7% 35% no-repeat, -webkit-gradient(linear, left top, left bottom, from(#CCC8FD), to(#CCC8FD));
    background: url(/app/img/swap/Neta.svg) 7% 35% no-repeat, linear-gradient(#CCC8FD, #CCC8FD);
} 


.section-swap__option-erg,
.section-swap__option-neta {
    font-family: 'PP Mori';
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background: #1C1D1F;
    color: #CCC8FD;
}

.section-swap__button {
    padding: 11px 185px;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    background-color: #CCC8FD;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
}

.section-swap__button:hover {
    background: #c2bef7;
    -webkit-transform:  scale(1.01);
    transform:  scale(1.01);
}

.section-swap__content {
    margin-top: 100px;
    max-width: 462px;
}

.adaptive-heading {
    display: none;
}

/* Offers */

.section-offers {
    background: #101010;
}

.section-offers__container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-offers__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 80px;
}

.section-offers__item-content {
    max-width: 462px;      
}

.accelerator {
    margin-top: 147px;
    margin-right: 80px;
    margin-left: auto;
}

.section-offers-img {
    width: 630px;
}


.btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px; 
    text-align: center;
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 13px 42px 11px 42px;
    border: none;
    border-radius: 53px;
}

.btn-learn {
    cursor: pointer;
    background-color: #fff;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
}

.btn-learn:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    background: #eeeaea;
}

.token {
    margin-top: 210px;
}

.token-img {
    margin-right: 80px;
}

.description-token {
    margin-bottom: 40px;
}

.btn-soon {
    cursor: pointer;
    background-color: #ffffff33;
    -webkit-transition: background-color .1s ease;
    transition: background-color .1s ease;
    
}

.btn-soon:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    background: #e9e7e733;
}

.network-item {
    padding-bottom: 0;
}

.network {
    margin-top: 180px;
    margin-right: 80px;
    margin-left: auto;
}

.mobile {
    display: none;
}

/* Advantages */ 

.section-advantages__container {
    padding-top: 120px;
    padding-bottom: 100px;
}

.heading-h3 {
    font-family: 'Space Grotesk';
    font-size: 42px;
    font-weight: 500;
    line-height: 55px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 60px;
}

.section-advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section-advantages__item:not(:last-child) {
    margin-right: 20px;
}

.section-advantages__item {
    width: 413px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 40px;
    padding-left: 24px;
    background: linear-gradient(242.21deg, #1C1D1F 0.08%, #101010 51.06%);
    -webkit-clip-path: polygon(0 10px,100% 0,100% 100%,0 calc(100% - 10px));
    clip-path: polygon(0 10px,100% 0,100% 100%,0 calc(100% - 10px));
  
}

.section-advantages__item-description {
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #fff;
}

.section-advantages__icon-1 {
    width: 100px;
    height: 100px;
    background: url(/app//img/advantages/advantages-1.webp) no-repeat;
}

.section-advantages__icon-2 {
    width: 100px;
    height: 100px;
    background: url(/app//img/advantages/advantages-2.webp) no-repeat;
}

.section-advantages__icon-3 {
    width: 100px;
    height: 100px;
    background: url(/app//img/advantages/advantages-3.webp) no-repeat;
}

/* Roadmap*/ 

.section-roadmap__container {
    padding-bottom: 50px;
}

.section-roadmap__tab-btn-title, 
.section-roadmap__content-descr {
    font-family: 'PP Mori';
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #fff;
}

.section-roadmap__tab-btn-icon-one,
.section-roadmap__tab-btn-icon-two {
    width: 24px;
    height: 24px;
    background-size: auto;
    background-repeat: no-repeat;
}

.section-roadmap__tabs-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section-roadmap__tabs {
    margin-right: 80px;
}

.section-roadmap__tab-btn  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.section-roadmap__tab-btn.active-btn {
    background-color: #101010;
}

.section-roadmap__tab-btn:hover {
    background: #101010;
}

.section-roadmap__tab-btn-icon-one {
    margin-right: 16px;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.section-roadmap__tab-btn-title {
    width: 300px;
}

.section-roadmap__tab-btn-icon-two {
    margin: auto;
}

.section-roadmap__content {
    width: 630px;
    padding: 32px;
    display: none;
    background: #101010;
}

.active-content {
    display: block;
}

.section-roadmap__content-descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 32px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff33;
}

.done, .process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 10px;
    margin-left: 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    border-radius: 40px;
    color: #fff;
}


.done {
    background: #3724CE;
}

.section-roadmap__content-icon-done {
    margin-left: 6px;
    width: 15px;
    height: 7px;
    background: url(/app/img/roadmap/icon-done.svg) no-repeat;
}

.process {
    background: #ffffff33;  
}

.accordion {
    display: none;
}

/* Accordion roadmap (for mobile) */

.accordion__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 23px;
    
}


.accordion__item_show .accordion__header::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.accordion__header:hover {
  background-color: #1C1D1F;
  border-radius: 0px;
}
  
.accordion__body {
    max-width: 550px;
    padding: 0.75rem 1rem;
    overflow: hidden;
    background: #101010;
}

.done-accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 75px;
    margin-top: 7px;
    margin-left: 0px;
    margin-bottom: 7px;
    padding: 4px 10px;
    background: #3724CE;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    border-radius: 40px;
    color: #fff;
}

.process-accordion {
    max-width: 100px;
    padding: 5px 10px;
    margin-left: 0px;
    margin-bottom: 7px;
    background: #ffffff33;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    border-radius: 40px;
    color: #fff;
}

.icon-accordion {
    margin-right: 13px;
}

.accordion__arrow {
    margin-left: 10px;
}

.accordion-arrow:hover {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}


/* Feedback */

.mobile-feedback-slider {
    display: none;
}

.section-feedback__container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.h3-heading {
    margin-bottom: 40px;
    font-family: 'Space Grotesk';
    font-size: 25px;
    line-height: 19px;
    color: #fff;
}

.h3-heading::after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #ffffff33;
}

.section-feedback__heading::after {
    width: 1050px;

}

.section-feedback__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.section-feedback__card {
    margin-right: 20px;
}


.section-feedback__photo {
    margin-bottom: 20px;
}

.section-feedback__name {
    display: block;
    margin-bottom: 10px;
    font-family: 'PP Mori';
    font-weight: 600;
    font-size: 22px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-feedback__feedback {
    max-width: 350px;
    font-family: 'PP Mori';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em; 
    color: #FFFFFF;
}

/* Partners */

.section-partners__container {
    margin-top: 80px;
    margin-bottom: 80px;
}

.section-partners__header::after {
    width: 1150px;
}


/* Footer */

.footer__container {
    margin-top: 120px;
    margin-bottom: 40px;
}

.footer__header {
    margin-bottom: 40px;
}

.footer__left-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__left {
    margin-right: 100px;
}

.footer__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 26px;
}

.footer__social-item {
    margin-right: 10px;
}

.footer__social-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
}

.social-1 {
    background: url(/app/img/footer/social-1.svg) center center no-repeat;
}

.social-2 {
    background: url(/app/img/footer/social-2.svg) center center no-repeat;
}

.social-3 {
    background: url(/app/img/footer/social-3.svg) center center no-repeat;
}

.social-4 {
    background: url(/app/img/footer/social-4.svg) center center no-repeat;
}

.social-5 {
    background: url(/app/img/footer/social-5.svg) center center no-repeat;
}

.social-6 {
    background: url(/app/img/footer/social-6.svg) center center no-repeat;
}

.footer__social-icon:hover {
    border: 2px solid #fff;
    border-radius: 50%;
}

.footer__contact {
    font-family: 'PP Mori';
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-decoration: underline;
}


.footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
} 

.footer__nav-item {
    margin-right: 40px;
}

.footer__right-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
}

.footer__privacy-policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__policy-link {
    font-family: 'PP Mori';
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #ffffff99;
}

.footer__policy-link:hover {
    color: #fff;
}

/* Adaptive */ 

@media(max-width: 1920px) {
    
    .container {
        max-width: 1920px;
        margin-left: 230px;
        margin-right: 230px;
    }

    .header__container {
        margin-left: 240px;
        margin-right: 240px;
    }

    .section-content__container {
        margin-left: 130px;
        margin-right: 130px;
    }

    .section-content__prism-img {
        left: 0px;
        top: auto;
        right: 0px;
        bottom: -15px;
        max-width: 100%;
    }

    .section-partners__container {
        padding-left: 0;
        padding-right: 0;
    }

    .network-item, .token-item {
        display: none;
    }

    .section-advantages__item:not(:last-child) {
        margin-right: 35px;
    }

}

@media(max-width: 1440px) {
    .container {
        max-width: 1440px;
        margin-right: 80px;
        margin-left: 80px;
    }

    .section-content__prism-img {
        bottom: 56px;
    }

    .network-item, .token-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media(max-width: 1366px) {
    .container {
        max-width: 1310px;
        margin-right: auto;
        margin-left: auto;
    }

    .section-partners__container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .h3-heading::after {
        width: 1068px;
    }

}

@media(max-width: 1200px) {
    .section-swap__container {
        padding-bottom: 50px;
    }

    .icon-1,
    .icon-12 {
        display: none;
    }

    .section-content__prism-img {
        bottom: 73px;
    }

    .section-swap__header {
        font-size: 54px;
    }

    .section-swap__wrapper-black {
        margin-right: 50px;
    }

    .section-offers__container {
        padding-top: 50px;
    }

    .accelerator, 
    .network {
        margin-top: 100px;
    }

    .section-feedback__card:not(:last-child) {
        margin-right: 15px;
    }
}

@media(max-width: 1024px) {

    .section-content__prism-img {
        bottom: 103px;
    }

    .section-swap__wrapper {
        display: block;
    }

    .icon-11 {
        display: none;
    }

    .adaptive-heading {
        display: block;
        font-size: 55px;
    }

    .section-swap__header {
        display: none;
    }

    .section-swap__content {
        margin-top: 30px;
        margin-left: 30px
    }

    .section-swap__wrapper-black {
        max-width: 650px;
    }

    .section-swap__input{
        margin-right: 50px;
    }

    .section-swap__button {
        padding: 11px 200px;
    }

    .section-offers-img {
        max-width: 500px;
    }

    .heading {
        font-size: 50px;
    }

    .description-color {
        font-size: 19px;
    }

    .accelerator {
        margin-top: 50px;
    }

    .network {
        margin-top: 65px;
    }

    .token {
        margin-top: 150px;
    }

    .section-advantages__item-description {
        font-size: 19px;
    }

    .section-roadmap__content {
        width: 550px;
    }

    .section-roadmap__tabs {
        margin-right: 20px;
    }

   .section-roadmap__content-descr {
        font-size: 18px;
   }

   .section-roadmap__tab-btn-title {
    font-size: 21px;
   }

   .h3-heading::after {
    width: 900px;
   }

}

@media(max-width: 992px) {
    .icon-2 {
        display: none;
    }

    .icon-11 {
        display: none;
    }

    .section-content__prism-img {
        bottom: 110px;
    }

    .section-roadmap__tabs-wrapper {
        display: none;
    }

    .accordion {
        display: block;
    }

    .section-offers-img {
        max-width: 415px;
    }

    .footer__left-right {
        flex-direction: column;
    }

    .footer__right {
        margin-top: 30px;
    }
}

@media(max-width: 840px) {
    .header__nav-list,
    .header__button,
    .section-offers__item-content,
    .section-offers__item-img {
        display: none;
    }

    .mobile {
        display: block;
    }

    .section-swap__wrapper-black {
        margin-right: 0;
    }

    .section-offers__description-color {
        margin-top: 20px;
    }

    .section-offers__btn-soon {
        padding: 13px 60px;
    }

    .section-advantages__item-description {
        font-size: 17px;
    }

    .description-white,
    .description-color {
        max-width: 560px;
    }

    .section-feedback__photo {
        max-width: 75%;
    }

    /* Burger */

    .header__burger-menu {
        display: block;
        position: relative;
    }

    /* для меню */
    .menu-active {
        display: block;
    }


    .header__nav-list {
        position: absolute;
        top: 50px;
        right: 5px;
        width: 98.7%;
        padding: 30px;
        background-color: #101010;
        border-radius: 15px;
    }

    .spf-token {
        display: none;
    }

    .nav-link {
        font-size: 19px;
        line-height: 40px;
    }

    .header__nav-item:not(:last-child) {
        margin-right: 0;
    }

    .section-content__prism-img {
        bottom: 140px;
    }

    .h3-heading::after {
        width: 700px;
    }

    .section-feedback__cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section-feedback__card:not(:last-child) {
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .footer__left-right {
        display: block;
    }

    .footer__left {
        margin-right: 0px;
    }

    .footer__right {
        margin-top: 80px;
    }

    .footer__nav-list {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .footer__contact {
        font-size: 20px;
    }

    .footer__privacy-policy {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .footer__policy-link {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 10px;
    }
}

@media(max-width: 768px) {
    .icon-3,
    .icon-10 {
        display: none;
    }

    .section-content__prism-img {
        max-width: 150%;
        left: 0px;
        bottom: 145px;
        width: 700px;
    }

    .heading,
    .adaptive-heading {
        font-size: 40px;
    }

    .section-feedback__feedback {
        font-size: 14px;
    }

    .section-feedback__photo {
        margin-bottom: 5px;
        max-width: 300px;
    }

    .section-feedback__card:not(:last-child) {
        margin-bottom: 25px;
    }

    .section-swap__wrapper-black {
        margin: auto;
        max-width: 600px;
        padding-top: 60px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
    }

    .section-swap__button {
        padding: 11px 190px;
    }

    .section-swap__input {
        margin-right: 0;
    }

    .section-swap__container {
        padding-top: 60px;
    }

    .section-offers-img {
        max-width: 350px;
    }

    .section-advantages__list {
        display: block;
    }

    .section-advantages__item {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 5px 5px;
        margin: auto;
        max-width: 490px;
        -webkit-clip-path: polygon(0 0, 100% 0, 99% 100%, 1% 100%);
        clip-path: polygon(0 0, 100% 0, 99% 100%, 1% 100%);
    }

    .section-advantages__item:not(:last-child) {
        margin-right: auto;
        margin-bottom: 20px;
    }  

    .section-advantages__icon-1,
    .section-advantages__icon-2,
    .section-advantages__icon-3 {
        margin-right: 20px;
        width: 130px;
    }

    .section-advantages__item-description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .h3-heading::after {
        width: 500px;
    }

    .section-advantages__header {
        font-size: 35px;
        text-align: center;
    }

    .section-advantages__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section-partners__container {
        margin-top: 40px;
    }
}

@media(max-width: 576px) {
    .nav-link {
        font-size: 16px;
    }

    .partners {
        display: none;
    }

    .header__nav-list {
        padding: 20px 30px;
    }

    .icon-4,
    .icon-9 {
        display: none;
    }

    .section-content__img {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .section-content__prism-img {
        width: 500px;
        bottom: 180px;
    }

    .section-swap__button {
        padding: 11px 130px;
    }

    .section-swap__input {
        width: 135px;
    }

    .description-white,
    .description-color {
        max-width: 320px;
    }

    .section-partners {
        display: none;
    }
}

@media(max-width: 500px) {

    .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    .section-swap__container {
        padding: 50px 15px 30px 15px;
    }

    .section-content__prism-img {
        display: none;
    }

    .adaptive-heading {
        text-align: center;
    }

    .section-swap__wrapper-black {
        padding: 40px 30px;
    }

    .section-swap__button {
        padding: 11px 100px;
    }

    .section-swap__input {
        width: 150px;
    }

    .h3-heading::after {
        width: 400px;
    }

    .section-content__img {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .footer__nav-list {
        display: none;
    }

    .section-roadmap__header {
        font-size: 35px;
        text-align: center;
    }

    .section-advantages__item {
        max-width: 350px;
    }
}

@media(max-width: 420px) {
    .section-swap__wrapper-black {
        padding: 30px 25px;
    }

    .section-swap__swap {
        padding: 30px 15px;
    }

    .section-swap__button {
        padding: 11px 120px;
    }

    .section-offers-img {
        max-width: 300px;
    }

    .section-offers__item-header {
        margin-bottom: 20px;
    }

    .section-offers__item {
        padding-bottom: 40px;
    }

    .section-advantages__item {
        max-width: 335px;
    }

    .h3-heading::after {
        width: 300px;
    }

    .footer__container {
        margin-top: 20px;
    }

    .section-roadmap__container {
        padding: 10px 15px 50px 15px;
    }

    .section-feedback__container {
        padding: 50px 20px 50px 25px;
    }

    .section-feedback__feedback {
        max-width: 300px;
    }

    .footer__container {
        padding: 20px 15px 5px 15px;
    }
}

@media(max-width: 395px) {

    .header__nav-list {
        bottom: 10px;
    }

    .section-content__container {
        display: none;
    }
    .section-swap__title {
        font-size: 30px;
    }

    .section-swap__input {
        width: 125px;
    }

    .section-swap__button {
        margin: auto;
        display: block;
    }

    .section-offers__container {
        padding-bottom: 40px;
    }

    .section-offers-img {
        max-width: 250px;
    }

    .section-roadmap__header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    } 

    .section-advantages__item {
        max-width: 320px;
    }

    .footer__social-list {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .heading-h3,
    .heading {
        font-size: 37px;
    }

    .section-swap__button {
        padding: 11px 80px;
    }

    .section-advantages__container {
        padding: 50px 15px;
    }

    .section-advantages__item-description {
        font-size: 15px;
    }

    .footer__contact {
        font-size: 15px;
    }
}